body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('pexels-goumbik-574071.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel-container {
    margin-bottom: 20px;
    text-align: center;
    background-color: white; /* Añadido para asegurar que el contenedor del carrusel tenga fondo blanco */
    padding: 20px; /* Ajusta el padding según sea necesario */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.info-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.info-box {
    width: 45%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

.additional-info {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
}

.blue-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.blue-button:hover {
    background-color: darkblue;
}

ul.features-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

ul.features-list li {
    margin: 10px 0;
    font-size: 18px;
}
